In [1]:
if True:
    print('True')

True

In [5]:
loc = "Bank"
if loc == "Gaz station":
    print("You need a car")
elif loc == "Bank":
    print("You need cash")
else:
    print("Go somewhere")

You need cash

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for item in list1:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [9]:
for item in list1:
    if item % 2 == 0:
        print(item)
    else:
        print(f"Odd number: {item}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [11]:
list_sum = 0
for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [13]:
mystring = "Hello World"
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [15]:
list2 = [(1,2),(3,4),(5,6)]
len(list2)

3

In [16]:
for item in list2:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [20]:
for a,b in list2:
    print(a * b)

2
12
30

In [23]:
list3 = {'k1':1, 'k2':2, 'k3':3}
for key,value in list3.items():
    print(key)

k1
k2
k3

In [25]:
x = 0
while x < 5:
    x = x + 1
    print(x)

1
2
3
4
5

In [26]:
x = [1,2,3]
for item in x:
    # comment
    pass

In [27]:
for letter in "sammy":
    if letter == "a":
        continue
    print(letter)

s
m
m
y

In [29]:
for letter in "sammy":
    if letter == "a":
        break
    print(letter)

s

In [30]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [32]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [33]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [35]:
index_count = 0
for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [37]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)

0
1
2
3
4

In [41]:
list1 = [1,2,3,4]
list2 = ['a','b','c']
list3 = [100,200]

for item in zip(list1, list2, list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)

In [43]:
'x' in [1,2,3]

False

In [44]:
'mykey' in {'mykey':345}

True

In [45]:
min(list1)

1

In [46]:
max(list2)

'c'

In [47]:
from random import shuffle
shuffle(list2)

In [48]:
list2

['b', 'c', 'a']

In [49]:
from random import randint

In [50]:
randint(0,100)

80

In [51]:
input('Enter a number: ')

Enter a number: 30

'30'

In [52]:
mystring = "hello"
mylist = [letter for letter in mystring]

In [54]:
mylist

['h', 'e', 'l', 'l', 'o']

In [55]:
mylist = [num**2 for num in range(0,11)]

In [57]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [59]:
mylist

[0, 2, 4, 6, 8, 10]

In [64]:
celcius = [0,10,20,30,34.5]
fahrenheit = [( (9/5)*temp + 32 ) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 86.0, 94.1]

In [66]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32 ))
fahrenheit

[32.0, 50.0, 68.0, 86.0, 94.1]

In [67]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]